@model WebApplication1.Models.Category
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Welcome to GlobalSpace online Store</h2>
        <p class="@TempData["class"]">@TempData["msg"]</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
D
        
    </div>
    <div class="col-md-8"></div>
</div>